[core]
  editor = nvim
  pager = bat --paging=always
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[alias]
  l = log --oneline --graph --all
  d = diff
  ds = diff --staged
[include]
  # Set your name and email in ~/.gitconfig.local
  path = ~/.gitconfig.local
